<section class="homepage">
  <app-banner 
    src="assets/imagens/banner-homepage.png"
    alt="Banner da aplicação Milhas"
  />
  <app-container>
    <app-form-busca/>
    <h2>Promoções</h2>
    <div class="card-wrapper">
      <app-card-busca
        fonte="assets/imagens/Veneza.png"
        alt="Imagem de Veneza"
      />
      <app-card-busca
        fonte="assets/imagens/Veneza.png"
        alt="Imagem de Veneza"
      />
      <app-card-busca
        fonte="assets/imagens/sofa.jpg"
        alt="Imagem de Sofá"
      />
    </div>
    <h2>Depoimentos</h2>
    <div class="card-wrapper">
      <app-card-depoimento 
        depoimento="Minha viagem com a Jornada foi incrível! Recomendo muito a agência para quem busca uma experiência emocionante e personalizada a partir das nossas necessidades."
        src="assets/imagens/avatar3.png"
        nome="Mariana Faustino"
      />
      <app-card-depoimento 
        depoimento="Foi legal a visita ao Canadá. Apesar do frio, é um país com boa segurança pública e sistema de saúde, com boa estrutura e qualidade de vida."
        src="assets/imagens/avatar1.jpg"
        nome="Fernando Silva"
      />
      <app-card-depoimento 
        depoimento="Minha viagem com a Jornada foi incrível! Recomendo muito a agência para quem busca uma experiência emocionante e personalizada a partir das nossas necessidades."
        src="assets/imagens/avatar3.png"
        nome="Mariana Faustino"
      />
    </div>
  </app-container>
</section>